$colorAzul0:#c5dee0;
$colorAzul1:#7ca1c6;
$colorAzul2:#668bb1; 
$colorAzul3:#5987b6; 
$colorAzul4:#547aa0;
$colorAzul5:#436e99; 
$colorAzul6:#345475; 
$colorAzul7:#1a3958; 
$colorAzul8:#243b52; 


$colorGris0:#ffffff;
$colorGris1:#f6f6f6;
$colorGris2:#f6fbff;
$colorGris3:#dddddd;
$colorGris4:#d3d3d3; 
$colorGris5:#c2c2c2;
$colorGris6:#bcbcbc;
$colorGris7:#aaaaaa;
$colorGris8:#999999;
$colorgris9:#444444;

$colorNegro: #111111;

$colorGrisTransp: #d1d1d1c5;
$colorNegroTransp: #000000b3;

$gradienteAzul: linear-gradient(to top, $colorAzul1, $colorAzul4);
$gradienteNegro: linear-gradient(to bottom, #444, #111);
$gradiente: linear-gradient(to top, white, #f6f6f6);


$colorDestacado: #8F0403;
$colorReciente: #207C26;
